<appSettings>
  <!-- SendGrid-->
  <!-- GeoTrail released facebook app .-->
  <add key="appWigoGeoTrailID" value="694318660701967" />
  <add key="appWigoGeoTrailSecret" value="82cdf6f895f9b9c55000654a1d2860c2" />
  
  <!-- GeoTrail Test GpxPath, facebook app for local testing.
  <add key="appWigoGeoTrailID" value="870220976445067" />
  <add key="appWigoGeoTrailSecret" value="e3b92907d228aa0cfac4aeeaf4b67f37" />
  -->
</appSettings>