<appSettings>
<!--  
Copyright (c) 2015 - 2017 Robert R Schomburg
Licensed under terms of the MIT License, which is given at
https://github.com/bobbyray/MitLicense/releases/tag/v1.0
-->
  <!-- Example for the Private/appSettings.config file -->
  <!-- For release replace, numeric_id_value and  hex_secret_value with real values. -->
  <!-- GeoTrail released facebook app.-->
  <add key="appWigoGeoTrailID" value="numeric_id_value" />
  <add key="appWigoGeoTrailSecret" value="hex_secret_value" />
  
  <!-- For debug comment out keys above and use debug values -->
  <!-- GeoTrail Test GpxPath, facebook app for local testing.
  <add key="appWigoGeoTrailID" value="debug_numeric_id_value" />
  <add key="appWigoGeoTrailSecret" value="debug_hex_secret_value" />
  -->
</appSettings>